@model CategoryVM
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row"> 
                <div class="col-12">
                    <div class="page-title-box">
                     @*    <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Velonic</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Form Elements</li>
                            </ol>
                        </div> *@
                        <h4 class="page-title">Kategori Yönetimi</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="header-title">Yeni Kategori Ekle</h4>
                           
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form enctype="multipart/form-data"  asp-controller="Category" asp-action="Insert" method="post">
                                        <div class="mb-3">
                                            <label  asp-for="@Model.Category.Name" class="form-label"></label>
                                            <input asp-for="@Model.Category.Name"  class="form-control">
                                            <span asp-validation-for="@Model.Category.Name"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="@Model.Category.DisplayIndex" class="form-label"></label>
                                            <input asp-for="@Model.Category.DisplayIndex" class="form-control">
                                            <span asp-validation-for="@Model.Category.DisplayIndex"></span>
                                        </div>
                                    

                                        <div class="mb-3">
                                            <label asp-for="@Model.Category.ParentID" class="form-label"></label>
                                            <select class="form-control" asp-for="@Model.Category.ParentID" asp-items="@Model.Categories.Select(x=> new SelectListItem{Text= x.Name, Value= x.ID.ToString()})" >
                                                <option value="">Üst Kategori Seçiniz </option>
                                             </select>
                                            <span asp-validation-for="@Model.Category.DisplayIndex"></span>
                                        </div>


                                      <div class="mb--60">
                                         <button class="btn btn-primary" type="submit">Ekle </button>
                                         <button class="btn btn-danger" type="reset">Temizle </button>

                                      </div>
                                      @Html.AntiForgeryToken()
                                    </form>
                                </div> <!-- end col -->
